html {
  position: relative;
  min-height: 100%;
  letter-spacing: 1.5px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; 
}
ul, li {
  list-style-type: none;
  padding-left: 0;
}
.container {
  width: 100%;
}
.sign-up-main-text, .logo, .date, .login {
  font-family: Circular Std;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}
.text-muted {
  float: right;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  text-align: center;
}
.logo {
  float: left;
  color: #4A90E2;
  margin-top: 20px;
  margin-left:30px;
}
.login {
  float: right;
  margin-right:20px;
}
.login, .date {
  margin-top: 35px;
}
.date, .login, .site-by{
  font-size: 14px;
}
.sign-up-row-spacing {
  margin-top: 250px;
  margin-left: 70px;
}
.sign-up-input-boxes, .searchbar {
  display: block;
  margin-bottom: 20px;
  background-color:transparent;
  border: 0px solid;
  height:50px;
  width:300px;
  border-bottom: 2px solid #4A90E2;
}
.sign-up-input-boxes:focus, .searchbar, .new-section-button, .save-website, .add-website-icon, .edit-website-icon, .section-title {
  outline:none;
}
.sign-up-input-boxes[type="text"], .searchbar[type="text"], .new-section-button, .save-website, .section-title {
    font-family: Circular Std;
    letter-spacing: 1.5px;
}
::-webkit-input-placeholder, .sign-up-input-boxes[type="text"], .date, .login, .site-by, .save-website, .section-title {
   color: #000;
}
.sign-up-button, input {
 margin-left: 100px;
}
.sign-up-button, .new-section-button, .save-button {
  border-radius: 10px;
  background: transparent;
  border: 2px solid #4A90E2;
  padding: 5px 20px;
  color: #4A90E2;
}
.sign-up-button {
  padding: 5px 20px;
}
.sign-up-main-text {
  font-size: 48px;
}
.login-row {
  margin-top: 100px;
}
.searchbar {
  margin: auto;
  width:400px;
  height:30px;
}
.content-section-row {
  margin-top: 50px;
}
.new-section-button {
  margin-top: 40px;
  padding: 80px 20px;
  border: 2px dashed #4A90E2;
}
.add-new-website {
  margin-top: 20px;
}
.add-website-icon, .edit-website-icon, .delete-website-icon {
  border: 2px solid #000;
  background-color: transparent;
  margin-right: 10px;
  margin-top: 20px;
}
.add-website-icon h4, .edit-website-icon h4, .delete-website-icon h4 {
  margin: 0;
}
.add-website-icon { 
  border-color: #4A90E2;
}
.add-website-icon h4, .add-website-text { 
  color: #4A90E2;
  padding: 1px
}
.add-website-text {
  display:inline;
}
.save-website, .section-title {
  border: 0px solid;
  margin-left: 35px;
  margin-top: 15px;
  width:215px;
  height: 30px;
}
.section-title, .searchbar, .save-website, .section-title{
  border-bottom: 2px solid #000;
}
.save-button, .save-website {
  margin-left: 35px;
  margin-top: 20px;
}
.edit-website-icon, .delete-website-icon {
  margin-top: 20px;
  padding: 3px 8px;
}
.delete-website-icon {
  border-color: #ce6344;
}
.delete-website-icon h4 {
  color: #ce6344;
}
.edit-text {
  margin: -20px 0px 0px 40px;
}
.scroll {
  height: 400px;
  overflow: scroll;
  padding:0;
}
.section-title{
  margin-left: 0;
}
.ceneter-con-in-sec {
  text-align:center;
}
.center-section {
  margin-left: 20%;
}
.website-text-url {
  color: #000;
}






